services:
  mon-devis-sans-oublis-frontend-development:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    volumes:
      - .:/app
      - /app/.next
      - /app/node_modules
