services:
  mqc-frontend:
    build:
      context: ui
    command: bash -c "pnpm run dev"
    networks:
      - mqc-network
    working_dir: /usr/src/app
    volumes:
      - ./ui:/usr/src/app
      - /usr/src/app/node_modules # On ne monte pas le node_modules de l’hôte
      - dist-front:/usr/src/app/dist

  mqc-backend:
    build:
      context: .
      network: host
    command: python src/main.py
    env_file:
      - .env
    volumes:
      - .:/app
      - dist-front:/app/ui/dist
    ports:
      - '${PORT}:${PORT}'
    networks:
      - mqc-network
    depends_on:
      - mqc-frontend

  mqc-db:
    image: docker.io/postgres:15
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    networks:
      - mqc-network
    ports:
      - '${DB_PORT}:5432'
    volumes:
      - dbvol:/var/lib/postgresql/data

networks:
  mqc-network:

volumes:
  dbvol:
    driver: local
  dist-front:
    driver: local