argopt==0.7.0
catboost==0.26
dill==0.3.4
explainerdashboard==0.3.5
jupyter==1.0.0
lightgbm==3.2.1
lime==0.2.0.1
mglearn==0.1.9
nltk==3.6.2
olefile==0.46
seaborn==0.11.1
shortuuid==1.0.1
sip
xgboost==1.3.3
pandas==1.2.4
# ansi2html==1.6.0 # Installed as dependency for jupyter-dash
# argon2-cffi==20.1.0 # Installed as dependency for notebook
# async-generator==1.10 # Installed as dependency for nbclient
# attrs==21.2.0 # Installed as dependency for jsonschema, pytest
# backcall==0.2.0 # Installed as dependency for ipython
# bleach==3.3.0 # Installed as dependency for nbconvert
# brotli==1.0.9 # Installed as dependency for flask-compress
# certifi==2021.5.30 # Installed as dependency for requests
# cffi==1.14.5 # Installed as dependency for argon2-cffi
# chardet==4.0.0 # Installed as dependency for requests
# chart-studio==1.1.0 # Installed as dependency for dash-auth
# click==8.0.1 # Installed as dependency for flask-simplelogin, explainerdashboard, nltk, flask
# cloudpickle==1.6.0 # Installed as dependency for shap
# colour==0.1.5 # Installed as dependency for dtreeviz
# cycler==0.10.0 # Installed as dependency for mglearn, matplotlib
# dash==1.20.0 # Installed as dependency for jupyter-dash, dash-bootstrap-components, explainerdashboard, dash-auth
# dash-auth==1.4.1 # Installed as dependency for explainerdashboard
# dash-bootstrap-components==0.12.2 # Installed as dependency for explainerdashboard
# dash-core-components==1.16.0 # Installed as dependency for dash
# dash-html-components==1.1.3 # Installed as dependency for dash
# dash-renderer==1.9.1 # Installed as dependency for dash
# dash-table==4.11.3 # Installed as dependency for dash
# decorator==4.4.2 # Installed as dependency for ipython, networkx
# defusedxml==0.7.1 # Installed as dependency for nbconvert
# dtreeviz==1.3 # Installed as dependency for explainerdashboard
# entrypoints==0.3 # Installed as dependency for nbconvert
# flask==2.0.1 # Installed as dependency for jupyter-dash, flask-wtf, flask-compress, flask-simplelogin, dash, flask-seasurf, dash-auth
# flask-compress==1.10.1 # Installed as dependency for dash, dash-auth
# flask-seasurf==0.3.0 # Installed as dependency for dash-auth
# flask-simplelogin==0.0.7 # Installed as dependency for explainerdashboard
# flask-wtf==0.15.1 # Installed as dependency for flask-simplelogin
# future==0.18.2 # Installed as dependency for dash
# graphviz==0.16 # Installed as dependency for dtreeviz, catboost
# idna==2.10 # Installed as dependency for requests
# imageio==2.9.0 # Installed as dependency for mglearn, scikit-image
# importlib-metadata==4.5.0 # Installed as dependency for jsonschema, pytest, click, pluggy
# iniconfig==1.1.1 # Installed as dependency for pytest
# ipykernel==5.5.5 # Installed as dependency for jupyter-dash, jupyter-console, jupyter, ipywidgets, notebook, qtconsole
# ipython==7.24.1 # Installed as dependency for jupyter-dash, ipywidgets, jupyter-console, ipykernel
# ipython-genutils==0.2.0 # Installed as dependency for nbformat, notebook, qtconsole, traitlets
# ipywidgets==7.6.3 # Installed as dependency for jupyter
# itsdangerous==2.0.1 # Installed as dependency for flask-wtf, flask, dash-auth
# jedi==0.18.0 # Installed as dependency for ipython
# jinja2==3.0.1 # Installed as dependency for flask, notebook, nbconvert
# joblib==1.0.1 # Installed as dependency for mglearn, scikit-learn, explainerdashboard, nltk
# jsonschema==3.2.0 # Installed as dependency for nbformat
# jupyter-client==6.1.12 # Installed as dependency for ipykernel, nbclient, jupyter-console, notebook, qtconsole
# jupyter-console==6.4.0 # Installed as dependency for jupyter
# jupyter-core==4.7.1 # Installed as dependency for nbformat, notebook, qtconsole, jupyter-client, nbconvert
# jupyter-dash==0.4.0 # Installed as dependency for explainerdashboard
# jupyterlab-pygments==0.1.2 # Installed as dependency for nbconvert
# jupyterlab-widgets==1.0.0 # Installed as dependency for ipywidgets
# kiwisolver==1.3.1 # Installed as dependency for matplotlib
# llvmlite==0.36.0 # Installed as dependency for numba
# markupsafe==2.0.1 # Installed as dependency for wtforms, jinja2
# matplotlib==3.4.2 # Installed as dependency for mglearn, dtreeviz, lime, scikit-image, seaborn, catboost
# matplotlib-inline==0.1.2 # Installed as dependency for ipython
# mistune==0.8.4 # Installed as dependency for nbconvert
# nbclient==0.5.3 # Installed as dependency for nbconvert
# nbconvert==6.1.0 # Installed as dependency for notebook, jupyter
# nbformat==5.1.3 # Installed as dependency for ipywidgets, notebook, nbconvert, nbclient
# nest-asyncio==1.5.1 # Installed as dependency for nbclient
# networkx==2.5.1 # Installed as dependency for scikit-image
# notebook==6.4.0 # Installed as dependency for widgetsnbextension, jupyter
# numba==0.53.1 # Installed as dependency for shap
# numpy==1.20.2 # Installed as dependency for pywavelets, pandas, shap, tifffile, matplotlib, xgboost, scikit-image, scikit-learn, imageio, mkl-random, lightgbm, lime, catboost, mglearn, scipy, dtreeviz, mkl-fft, explainerdashboard, numba, seaborn
# oyaml==1.0 # Installed as dependency for explainerdashboard
# packaging==20.9 # Installed as dependency for pytest, bleach
# pandas==1.2.4 # Installed as dependency for mglearn, dtreeviz, explainerdashboard, shap, seaborn, catboost
# pandocfilters==1.4.3 # Installed as dependency for nbconvert
# parso==0.8.2 # Installed as dependency for jedi
# pexpect==4.8.0 # Installed as dependency for ipython
# pickleshare==0.7.5 # Installed as dependency for ipython
# pillow==8.2.0 # Installed as dependency for mglearn, matplotlib, imageio, scikit-image
# plotly==4.14.3 # Installed as dependency for chart-studio, dash, catboost
# pluggy==0.13.1 # Installed as dependency for pytest
# prometheus-client==0.11.0 # Installed as dependency for notebook
# prompt-toolkit==3.0.19 # Installed as dependency for ipython, jupyter-console
# ptyprocess==0.7.0 # Installed as dependency for pexpect, terminado
# py==1.10.0 # Installed as dependency for pytest
# pycparser==2.20 # Installed as dependency for cffi
# pygments==2.9.0 # Installed as dependency for ipython, jupyterlab-pygments, jupyter-console, qtconsole, nbconvert
# pyparsing==2.4.7 # Installed as dependency for packaging, matplotlib
# pyrsistent==0.17.3 # Installed as dependency for jsonschema
# pytest==6.2.4 # Installed as dependency for dtreeviz
# python-dateutil==2.8.1 # Installed as dependency for matplotlib, pandas, jupyter-client
# pytz==2021.1 # Installed as dependency for pandas
# pywavelets==1.1.1 # Installed as dependency for scikit-image
# pyyaml==5.4.1 # Installed as dependency for oyaml
# pyzmq==22.1.0 # Installed as dependency for notebook, qtconsole, jupyter-client
# qtconsole==5.1.0 # Installed as dependency for jupyter
# qtpy==1.9.0 # Installed as dependency for qtconsole
# regex==2021.4.4 # Installed as dependency for nltk
# requests==2.25.1 # Installed as dependency for jupyter-dash, chart-studio, dash-auth
# retrying==1.3.3 # Installed as dependency for jupyter-dash, plotly, chart-studio, dash-auth
# scikit-image==0.18.1 # Installed as dependency for lime
# scikit-learn==0.24.2 # Installed as dependency for mglearn, dtreeviz, lightgbm, explainerdashboard, lime, shap
# scipy==1.6.2 # Installed as dependency for lightgbm, lime, shap, scikit-image, seaborn, catboost, scikit-learn, xgboost
# send2trash==1.7.1 # Installed as dependency for notebook
# shap==0.39.0 # Installed as dependency for explainerdashboard
# six==1.16.0 # Installed as dependency for python-dateutil, chart-studio, jsonschema, plotly, bleach, argon2-cffi, catboost, cycler, mkl-service, retrying
# slicer==0.0.7 # Installed as dependency for shap
# terminado==0.10.1 # Installed as dependency for notebook
# testpath==0.5.0 # Installed as dependency for nbconvert
# threadpoolctl==2.1.0 # Installed as dependency for scikit-learn
# tifffile==2021.6.14 # Installed as dependency for scikit-image
# toml==0.10.2 # Installed as dependency for pytest
# tornado==6.1 # Installed as dependency for jupyter-client, notebook, ipykernel, terminado
# tqdm==4.61.1 # Installed as dependency for nltk, lime, shap
# traitlets==5.0.5 # Installed as dependency for ipython, jupyter-core, ipykernel, nbclient, matplotlib-inline, nbformat, ipywidgets, notebook, qtconsole, jupyter-client, nbconvert
# typing-extensions==3.10.0.0 # Installed as dependency for importlib-metadata
# ua-parser==0.10.0 # Installed as dependency for dash-auth
# urllib3==1.26.6 # Installed as dependency for requests
# waitress==2.0.0 # Installed as dependency for explainerdashboard
# wcwidth==0.2.5 # Installed as dependency for prompt-toolkit
# webencodings==0.5.1 # Installed as dependency for bleach
# werkzeug==2.0.1 # Installed as dependency for flask
# widgetsnbextension==3.5.1 # Installed as dependency for ipywidgets
# wtforms==2.3.3 # Installed as dependency for flask-wtf
# zipp==3.4.1 # Installed as dependency for importlib-metadata