version: '3.8'

services: 
    postgres: 
        image: postgres
        env_file: .env
        restart: 'always'
        volumes:
            - db_volume:/var/lib/postgresql/data
            - ./postgresql/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh:ro
    keycloak:
        image: keycloak/keycloak
        command: ["start-dev"]
        env_file: .env
        ports: 
            - 8080:8080
        depends_on:
            - postgres
    krakend:
        build: ../.
        volumes: 
            - ../.:/buildpack
            - cache:/cache
            - build:/build
            - env:/env
            - app:/app
        env_file: .env
        ports: 
            - 9080:9080
        depends_on:
            - keycloak
    nginx:
        image: owasp/modsecurity-crs:nginx
        env_file: .env
        ports: 
            - 80:80
        depends_on:
            - krakend
volumes: 
    db_volume:
    cache:
    build:
    env:
    app:
