protobuf>=3.20.2
jsonlines
Faker==18.3.4
faker_vehicle==0.2.0
pdoc3==0.10.0
numpy==1.23.5
pdf2image==1.16.3
Pillow==9.5.0
python-dateutil==2.8.2
six==1.16.0
torch==2.0.1
torchvision
python-doctr
pymupdf-fonts
lanms-neo
rapidfuzz==2.15.1
pymupdf==1.22.5
python-Levenshtein
opencv-python
paddlepaddle
paddleocr
openmim
streamlit

# DonUT
pytorch_lightning>=1.9.0
sconf
timm==0.5.4
transformers==4.25.1
donut-python
